<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Spring Security Tutorial</title>
		<link rel="shortcut icon" href="">
	</head>
	<body>
		<div class="spinner-grow text-success hide" role="status" id="spinner">
			<span class="sr-only">Loading...</span>
		</div>
		
		<div class="container">
			<div id="tabOne"><H3>Administrative Panel</H3></div>
			<div class="outer-group">
				<div class="inner-group">
		        	Choose province for alert:
		        	<select  name="province" id="province">
					    <option th:value="'dolnośląskie'" th:text="dolnośląskie"></option>
					    <option th:value="'wielkopolskie'" th:text="wielkopolskie"></option>
					    <option th:value="'	kujawsko-pomorskie'" th:text="kujawsko-pomorskie"></option>
					    <option th:value="'Wielkopolskie'" th:text="lubelskie"></option>
					    <option th:value="'lubuskie'" th:text="lubuskie"></option>
					    <option th:value="'łódzkie'" th:text="	łódzkie"></option>
					    <option th:value="'małopolskie'" th:text="małopolskie"></option>
					    <option th:value="'mazowieckie'" th:text="mazowieckie"></option>
					    <option th:value="'opolskie'" th:text="opolskie"></option>
					    <option th:value="'podkarpackie'" th:text="podkarpackie"></option>
					    <option th:value="'podlaskie'" th:text="podlaskie"></option>
					    <option th:value="'pomorskie'" th:text="pomorskie"></option>
					    <option th:value="'śląskie'" th:text="śląskie"></option>
					    <option th:value="'świętokrzyskie'" th:text="świętokrzyskie"></option>
					    <option th:value="'warmińsko-mazurskie'" th:text="warmińsko-mazurskie"></option>
					    <option th:value="'podlaskie'" th:text="podlaskie"></option>
					    <option th:value="'zachodniopomorskie'" th:text="zachodniopomorskie"></option>
					</select>
				</div>
				<div class="text-area-inner">
					<p>Text Alert</p>
					<textarea placeholder="Enter your text" id="messageContent"></textarea>
					<button id="inner-button" span style ="margin-left:50%">Notify users from Province</button>
				</div>
			</div>
		</div>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
		<script th:src="@{/jq/jquery-3.4.1.js}"></script>
		<script th:src="@{/js/home.js}"></script>	
	</body>
</html>